# Snowflake Basics - Loading Data
To our first notebook as part of our training series for Snowflake Data Science training on Udemy.

**SnowPro Advanced: Data Scientist Exam Prep**

Learn everything you need to pass the Snowflake SnowPro Advanced: Data Scientist certification. Training by Peter Heise.

### Install

Before starting this notebook, please made sure all requirements are installed:

In [ ]:
!pip install sqlalchemy snowflake-sqlalchemy pandas

### Do the data load
We are downloading an open source dataset from https://github.com/Opensourcefordatascience for us to upload data into Snowflake.

In [38]:
import pandas as pd
blood_pressure = pd.read_csv("https://raw.githubusercontent.com/Opensourcefordatascience/Data-sets/master/blood_pressure.csv")

In [39]:
blood_pressure.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [ ]:
## Does not work today - ipython-sql, there is a bug :(
#%load_ext sql
#%sql -persist blood_pressure

In [40]:
from sqlalchemy import create_engine

### Workaround for SqlAlchemy

engine = create_engine(DATABASE_URL)

with engine.connect() as conn:
    blood_pressure.to_sql('blood_pressure', con=conn, index=False) #make sure index is False, Snowflake doesnt accept indexes