# Chapter 3 - Part 1: Feature Engineering

Welcome to chapter 3 of our Snowflake Data Scientist training series.

In chapter 3 we will look at feature engineering options. The code is structured into three parts:
- Part 1: We transform our data into a useable format
- Part 2: We look at sampling and bootstrapping to get a well sized dataset

Happy coding!

### 1.) Connecting to Snowflake

To connect to your Snowflake instance, make sure you have all requirements installed and your connection details ready.

In [3]:
%load_ext sql
%config SqlMagic.autocommit=False # for engines that do not support autommit

In [48]:
##
## Make sure you have DATABASE_URL set & exported in your environment. Else run the following magic command:
##   Snowflake driver accepts the following parameters
##   URL = 'snowflake://<user_login_name>:<password>@<account_identifier>/<database_name>/<schema_name>?warehouse=<warehouse_name>&role=<role_name>'
##   Example:
##   %sql snowflake://user:password@xxxyyyzzz.west-europe.azure/DEMO/UDEMY?warehouse=PUBLIC
##

In [ ]:
%sql SELECT 1 as "Connected"

### 2.) Remove duplicates

First lets insert some duplicates into our dataset and check if we can find it.

In [ ]:
%%sql
INSERT INTO blood_pressure
    (index, patient, sex, agegrp, bp_before, bp_after) 
VALUES 
    (0, 1, 'Male', '30-45', 143, 153)

In [ ]:
%%sql 
SELECT
    COUNT(patient) as total_patient_rows,
    COUNT(DISTINCT patient) as unique_patient_rows
FROM 
    blood_pressure

You should see a difference of one here, 120 to 121 with one row being not unique in the patient id column.

#### 2.1.) Remove duplicates: option 1 using Snowflake's DISTINCT option

The easiest option to solve this and remove duplicates is to use Snowflake's native SELECT DISTINCT * function. This way you don't have to care about implementation details.

In [ ]:
%%sql

with unique_table as (
    SELECT DISTINCT * FROM blood_pressure
)

SELECT COUNT(*) from unique_table

#### 2.2.) Remove duplicates: option 2: Use "GROUP BY" to remove duplicates

Alternatively you can use GROUP BY command to group your values by a given partition - patient id in your case. From each group an entry - any or the first - needs to be selected and returned.

In [ ]:
%%sql

with unique_table as (
    SELECT
        any_value(index), 
        patient,
        any_value(sex), 
        any_value(agegrp), 
        any_value(bp_before), 
        any_value(bp_after)
    FROM 
        blood_pressure
    GROUP BY 
        patient
)

select count(*) from unique_table

#### 2.3.) Remove duplicates: option 3: Use "ROW_NUMBER" to remove duplicates

Important for the exam is also the RANK/ROW_NUMBER() operator which can be used to run operations in subgroups. Here we count the number of rows per partition (=patient id) and then filter only for the first row within these subgroups.

In [ ]:
%%sql

with unique_table as (
    SELECT index, patient, sex, agegrp, bp_before, bp_after
    FROM 
    ( 
     SELECT index, patient, sex, agegrp, bp_before, bp_after, 
     ROW_NUMBER() OVER (PARTITION BY patient ORDER BY index) RNO 
     FROM blood_pressure 
    ) 
    WHERE RNO = 1
)

select count(*) from unique_table

**Note**: row_number() runs a lot faster than 2.2)'s GROUP BY operator. So try to use DISTINCT * or a WINDOW function where possible.

Background, see here for more: https://dwgeek.com/identify-and-remove-duplicate-records-from-snowflake-table.html/

Finally let's delete our duplicated entry again.

In [ ]:
%sql
DELETE FROM blood_pressure WHERE patient = 1 LIMIT 1

## 3.) Handle missing values

First lets insert some missing values into our dataset.

In [ ]:
%%sql
INSERT INTO blood_pressure
    (index, patient, sex, agegrp, bp_before, bp_after) 
VALUES 
    (0, 999, 'Male', '30-45', Null, Null)

### 3.1.) Missing values: option 1: Remove
While removing rows with Null/invalid entires seems to be the easiest option, sometimes this is not desired and you want to keep the rows.

### 3.2.) Missing Values: option 2: replace with static value or keyword
An easy solution is to simply replace the missing values with a number of your choosing. Typically this could be a placeholder for you to filter out later.

In [ ]:
%%sql

with clean_data as (
    SELECT
        index,
        patient,
        sex,
        agegrp,
        IFNULL(bp_before, 100) as bp_before, --- replace with any number you want
        IFNULL(bp_after, 200)  as bp_after
    FROM blood_pressure
)

SELECT * FROM clean_data WHERE patient = 999

### 3.3.) Missing Values: option 3: replace with average of other data

By far the most elegant solution is to replace your missing / null values with a statistical value. Such can be min/max/average/median and more and computed over the partition.

In [ ]:
%%sql

with clean_data as (
    SELECT
        index,
        patient,
        sex,
        agegrp,
        IFNULL(bp_before, AVG(bp_before) OVER (PARTITION BY sex, agegrp)) as bp_before, --- replace with avg of age group
        IFNULL(bp_after, AVG(bp_after) OVER (PARTITION BY sex, agegrp)) as bp_after     --- replace with avg of age group
    FROM blood_pressure
)

SELECT * FROM clean_data WHERE patient = 999

## 4.) Encoding

Sometimes you want to label encode string into integers to feed it into your machine learning model. One option is to use the array_agg and array_position functions in Snowflake.

In [ ]:
%%sql

distinct_values_table as (
    SELECT 
        array_agg(distinct agegrp) as agegrp_array 
    FROM blood_pressure
)


SELECT
    agegrp,
    array_position(agegrp::variant, agegrp_array) as agrgrp_position
FROM blood_pressure, distinct_values_table

Happy Coding ;-)